
{% load static %}
<html>
    <head>
        <title>Animalerie</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>

    <body>
        <div class="page-header">
            <h1><a href="/">Animalerie</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for animal in animals %}
                        <div class="animal">
                            <h3><a href="{% url 'animal_detail' id_animal=animal.id_animal %}">{{ animal.id_animal }}</a></h3>
                            <p>état : {{animal.etat}} , lieu : {{animal.lieu}} </p>
                            <p><img src={{animal.photo}} width="200" height="200" alt="photo de l'animal" /></p>
                        </div>
                    {% endfor %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>

</html>
